<app-child-copm
[tabelaDoUstawieniaJakoPropertyCoponentu]="tabelaZDanymi"
[jakasNazwaProperty]="tabelaZDanymi"
></app-child-copm>

<app-child-outputing-data (outputObject)="pushedUp($event)"></app-child-outputing-data>

<h3>lista elementów przepchniety do komponentu wyzej</h3>
<ng-container *ngFor="let element of lista">
  {{element}}
</ng-container>

<h3>lista elementów przepchniętych niżej przez ng-content</h3>
<ul>
  <li>some text pushed down</li>
  <li>some text pushed down</li>
</ul>
<app-ngcontent>
  <ul>
    <li>some text pushed down</li>
    <li>some text pushed down</li>
  </ul>
</app-ngcontent>
